@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}
*{
  font-family: 'RobotoMono', monospace;
}
body {
  margin: 0;
  display: flex;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73)); */
  background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
